/* General Styles */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;400;900&display=swap');

* {
  font-family: 'Noto Sans JP';
  font-weight: 400;
  color: #333333;
}

body, p { 
  margin: 0;
}

main {
  width: 70%;
  margin: 0 auto;
}

form div {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #e8e8e8;
  margin: 20px;
  border-radius: 5px;
}

textarea {
  resize: none;
}

input {
  font-size: 1.5em;
  border: 1px solid #333;
  border-radius: 3px;
  padding: 5px 20px;
}